.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;

    .countdown-timer {
        position: absolute;
        top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .countdown {
            display: flex;
            gap: 10px
        }
    }
}