.page-pdf {
    height: 100vh;

    .pdf-image {
        height: 100%;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .pdf-prev-button,
    .pdf-next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #ffbf00;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 3em;
            height: 3em;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    .pdf-prev-button {
        left: 5%;
    }

    .pdf-next-button {
        right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .page-pdf {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .pdf-image {
            height: auto;
            margin-bottom: 5%;
        }

        .pdf-prev-button,
        .pdf-next-button {
            top: auto;
            bottom: 5%;
            transform: none;
        }
    }
}
