@keyframes wiggle {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
  }